* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --highlight: #BBBE64;
    --background: #BCAA99;
    --content: #F2F7F2;
    --important-text: #8E5572;
    --dark-accent: #443850;
    background-color: var(--background);
}

body {
    margin: 0;
    padding: 0;
}

.content {
    width: 80%;
    margin: 0 auto;
    background-color: var(--content);
}

.hero-title {
    font-weight: 800;
    font-size: 2em;
    color: var(--important-text);
}

.hero-tab-container {
    display: flex;
    flex-direction: horizontal;
    gap: 0.5em;
}

.hero-container {
    background-color: var(--highlight);
    margin: 0;
    padding: 0.5em;
}

.hero-button:hover {
    background-color: darkgray;
    color: white;
}

.footer-container {
    background-color: var(--highlight);
    margin: 0;
    padding: 0.5em;
}

.footer-button:hover {
    background-color: darkgray;
    color: white;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
    margin: 0;
    padding: 2em;
}

.reservations-container {
    margin: 0;
    padding: 2em;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 0.5em;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.reservations-container input, textarea {
    width: 100%;
}

.contact-container {
    padding: 2em;
}

.contact-container input {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    padding: 0.2em;
}

table {
    margin: 1em;
}

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide {
    display: inline-block;
    height: 400px;
    width: 100%;
    border-radius: 40px;
}

.slideshowDots {
    text-align: center;
}

.slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
}

.slideshowDot.active {
    background-color: var(--important-text);
}

h1 {
    margin: 0 auto;
    padding: 1em;
    color: var(--dark-accent)
}

p {
    margin: 0;
    padding: 0.5em;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 1em;
}

table {
    margin: 0 2em;
}

ul {
    margin: 0 2em;
}

.calorie-container {
    padding: 1em;
}

.allergy-container {
    padding: 1em;
}

.careers-container {
    padding: 1em;
}

.about-container {
    padding: 1em;
}

.party-container {
    padding: 1em;
}