.hero-title {
    font-weight: 800;
    font-size: 2em;
    color: red;
}

.hero-tab-container {
    display: flex;
    flex-direction: horizontal;
    gap: 0.5em;
}

.hero-container {
    background-color: grey;
}

.hero-button:hover {
    background-color: darkgray;
    color: white;
}

.footer-container {
    background-color: gray;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
    margin: 25px;
}