* {
    box-sizing: border-box;
}

.hero-title {
    font-weight: 800;
    font-size: 2em;
    color: red;
}

.hero-tab-container {
    display: flex;
    flex-direction: horizontal;
    gap: 0.5em;
}

.hero-container {
    background-color: grey;
}

.hero-button:hover {
    background-color: darkgray;
    color: white;
}

.footer-container {
    background-color: gray;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
    margin: 25px;
}

.reservations-container {
    margin: 2em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 0.5em;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.reservations-container input, textarea {
    width: 100%;
}

.contact-container {
    margin: 2em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
}

.contact-container input {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    padding: 0.2em;
}

table {
    margin: 1em;
}

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide {
    display: inline-block;
    height: 400px;
    width: 100%;
    border-radius: 40px;
}

.slideshowDots {
    text-align: center;
}

.slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
}

.slideshowDot.active {
    background-color: #6a0dad;
}